/* Colors */

$tomato: hsl(4, 100%, 67%);
$Dark-Slate-Grey: hsl(234, 29%, 20%);
$Charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);
$button-hover: hsl(234, 28%, 43%);
$button-gradient: linear-gradient(90deg, rgba(255, 83, 121, 1) 0%, rgba(255, 103, 62, 1) 100%);